@charset "UTF-8";

/*!
Theme Name: Simplicity2 child
Template:   simplicity2
Version:    20161002
*/

/* Simplicity子テーマ用のスタイルを書く */

/*グローバルナビの修飾 */
#navi {
 border-top:1px solid #F3F3F3;
 border-bottom:1px solid #F3F3F3;
}

body{
  background-color:#00ff00;
}